* {
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  font-family: sans-serif;
  font-weight: 200;
  line-height: 1.5;
  text-decoration: none;
}

a {
  color: #111;
  font-weight: normal;
  text-decoration: none;
}

a:visited {
  color: #BBB;
}

.border-bottom {
  border-color: #BBB;
}

.border-comment {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-color: #BBB;
  border-left-style: dotted;
  border-left-width: 1px;
}

.pre-wrap {
  white-space: pre-wrap;
}
