<div>
  <ul class="list-reset">
    {{~it.listItems:listItem}}
      <li class="p1 border-bottom">
        <a
          href="{{=listItem.data.url}}"
          rel="noopener noreferrer"
          target="_blank"
          >
          {{=listItem.data.title}}
        </a>
        <br/>
        <a
          class="h6"
          href="#{{=listItem.data.permalink}}"
          target="_blank"
          >
          [{{=listItem.data.ups}} u | {{=listItem.data.num_comments}} c]
        </a>
      </li>
    {{~}}
  </ul>
</div>
